- posts.where(user_id: user).each do |object|
  = image_tag object.image_url if object.image_url.present?
  %h3 #{object.title}
  %h3 likes: #{ object.likes.size }
  %h3 list of users liked this post: #{ object.likes.collect { |like| like.user.email } }

  - if current_user.liked_posts.exists?(object.id)
    = button_to "Unlike", like_path(id: object.likes.find_by(user: current_user)), method: :delete, class: "btn btn-danger"
  - else
    = button_to "Like", likes_path(id: object), class: "btn btn-primary"

  = button_to 'delete post',post_path(object), method: :delete, class: "btn btn-danger" if user == current_user

  = form_with  model: @comment, local: true do |f|
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :post_id, value: object.id
    = f.label :text, "your comment:"
    = f.text_field :text, size: 100
    = f.submit "comment", class: "btn btn-primary"


  - if comments.where(post_id: object).empty?
    %h3 There is no comments yet.
  - else
    %h3 Last comments:
    - comments.where(post_id: object).last(3).each do |comment|
      %h4 #{comment.user.full_name} : #{comment.text}

      - if comment.user == current_user || user == current_user
        = button_to 'delete comment', comment_path(comment), method: :delete, class: "btn btn-danger"