%html
%head
%body
%h1

- if current_user_feed?
  %h2 Your feed
  = link_to "Create new post", new_post_path, class: "btn btn-primary"
- elsif followed_user_feed?
  %h2  #{@user.full_name},s feed
  = button_to "Unfollow", followship_path(id: Followship.find_by(followed_id: @user, follower_id: current_user )), method: :delete, class: "btn btn-danger"
- else
  %h2 #{@user.full_name}
  %h3 If you want to see my feed, please follow me!
  = button_to "Follow", followships_path(id: @user.id), class: "btn btn-primary"

= render partial: 'like_and_comment', locals: {user: @user, posts: @posts, comments: @comments } if current_user_feed? || followed_user_feed?

