%html
%head
%body
%h1  Greetings! #{current_user.email} Let's create a new post!
.row
  .col-md-6.col-md-offset-3
    = form_with model: @post, local: true do |f|

      = f.hidden_field :user_id

      = f.label :title
      = f.text_field :title
      - @post.errors.full_messages_for(:title).each do |message|
        %div= message

      = f.label :text
      = f.text_field :text
      - @post.errors.full_messages_for(:text).each do |message|
        %div= message

      = f.label :image
      = f.file_field :image

      = f.submit "Create new post", class: "btn btn-primary"