%body
  %header.p-3.bg-dark.text-white
    .container
      = link_to "Instagram", root_path, id: "logo"
      .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
        %a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none{:href => "/"}
          %svg.bi.me-2{:height => "32", :width => "40"}
            %use{"xlink:href" => "#bootstrap"}
        %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
        .text-end
        - if current_user
          = link_to "#{current_user.email}", user_path(current_user)
          = button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger'
        - else
          = link_to "Login", new_user_session_path, class: 'btn btn-warning'
          = link_to "Sign-up", new_user_registration_path, class: 'btn btn-warning'